.homeBannerWrapper {
  position: relative;
}


/* Base dots position */
.slick-dots {
  position: absolute !important;
  bottom: 25px !important;
  z-index: 10;
  display: flex !important;
  justify-content: center;
  align-items: center;
}

/* Custom dot style */
.custom-dot {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background:  #002f3d ;
  transition: all 0.3s ease;
  border: 2px solid transparent; /* no border initially */
}

/* Hover effect on dots */
.slick-dots li:hover .custom-dot {
  background: white;
  border-color: rgba(255, 255, 255, 0.7);
  transform: scale(1.1);
}

/* Active dot effect */
.slick-dots li.slick-active .custom-dot {
  background: #2DE1C2; /* gold or yellow color */
  border: 2px solid white; /* outline border */
  transform: scale(1.3); /* slightly bigger */
  box-shadow: 0 0 6px rgba(255, 255, 255, 0.6);
}
