.text-light{
    color:#9c9b9b ;
}
.text-white {
    color: #fff !important;
}
.letterSec{
    width: 100%;
    height: auto;
    background: linear-gradient(90deg, #006970, #2DE1C2);
    display: flex;
    align-items: center;
    padding: 60px 0px;
}

.letterSec p {
    font-size: 18px;
    margin: 10px 0px;
}
.letterSec h3{
    font-size: 35px;font-weight: bold;
}
.letterSec p .text-light{
    font-size: 15px;
    background-color: #fff !important;
    opacity: 0.3;

}
.letterSec img{
    position: relative;
    bottom: -60px;
    right: -50px;
}
.letterSec form {
    width: 88%;
    height: 60px;
    background-color: #fff;
    padding: 10px;
    position: relative;
    border-radius: 5px;
    margin-top: 25px;
}
.letterSec form  svg{
    position:absolute;
    top: 18px;
    left: 10px;
    font-size: 25px;
    opacity: 0.3;
}
.letterSec form  input{
    width: 100%;
    height: 100%;
    background-color: #fff !important;
    outline: none;
    border: 0px !important;
    padding-left: 40px;
    padding-right: 200px;
}
.letterSec form Button{
    position:absolute;
    top:7px;
    right: 10px;
    background: linear-gradient(90deg,#002f3d, #006970, #2DE1C2);
    color: #fff;
    font-size: 14px;
    padding: 10px 25px;
    text-transform: capitalize;
    font-weight: 600;
}