.homeCat {
    padding: 35px 0;
}

.hd {
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.cursor {
    cursor: pointer;
}



.homeCat .items {
    padding: 15px;
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.homeCat .items img {
    width: 80%;
    margin-left: 5px;
}

/* Arrows */
.arrow-prev,
.arrow-next {
    position: absolute;
    top: -50%;
    z-index: 999;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 27px;
    cursor: pointer;
    background: #fff;
    box-shadow: 0 2px 8px rgba(0,0,0,0.15);
    transition: 0.3s;
}

.arrow-prev:hover,
.arrow-next:hover {
   background: linear-gradient(90deg, #006970, #2DE1C2);
   color: #fff ;
}

.arrow-prev {
    right: 50px;
}

.arrow-next {
    right: 10px;
}
